body{
	margin:70px;
}
.page{
	margin-left: 5%;
	margin-right: 5%;
}
.bottom-space{
	margin-bottom: 2em;
}

.top-space{
	margin-top: 1em;
}

.box{
	padding: 1em;
	border-radius: 3px;
	background-color: #fff;
}

.messages { }
.messages ul { list-style-type: none; padding: 0; }
.msg{
	border-radius: 0.5em;
	padding: 1em;
	margin-bottom: 0.5em;
	box-shadow: 0.2em 0.2em 0.4em #ccc;
}
.error{	background-color: #f88; }
.warning{ background-color: #fd2; }
.info{ background-color: #afa; }

.bottom-margin{
	margin-bottom: 1em;
}

.top-margin{
	margin-top: 1em;
}

#page_wrapper{
	margin: 1em;
	min-width: 700px;
}

#footer{
	text-align: center;
}

.navbar a:hover{
  border-bottom: 1px solid #1b9acf;
  transition: 0.3s;
}

.btn :hover{
  background-color: #1b9acf;
  transition: 0.3s;
}

zaloguj {
	font-weight: normal; 
	float:right; 
	border-radius: 0;
	background-color:#FFFFFF; 
	color: black;
}

.fastCats :hover{
  background-color: 1a1a1a;
  transition: 0.3s;
}

.column {
  float: left;
  width: 33.33%;
  padding: 10px;
  height: 600px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.imge {
  opacity: 0.8;
  cursor: pointer;
}

.imge:hover {
  opacity: 1;
}

.container {
  position: relative;
  display: none;
}

.closebtn {
  position: absolute;
  top: 10px;
  right: 15px;
  color: white;
  font-size: 35px;
  cursor: pointer;
}